.wrapper {
    display: grid;
    grid-template-areas:
        "header header"
        "menu content";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;

    max-width: 1200px;
    margin: 0 auto;
}

.content {
    grid-area: content;
    background: aquamarine;
    padding: 20px;
}