.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination span,
.pagination button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 45px;
    box-sizing: border-box;
    margin: 0 10px;
    padding: 10px;
    border: 1px solid var(--gray_light);
    border-radius: 5px;
    cursor: pointer;
}

.pagination button {
    background: transparent;
}

.pagination span:hover,
.pagination button:hover {
    background: var(--blue);
    color: var(--light);
}

.page_selected {
    font-weight: bold;
    background: var(--blue);
    color: var(--light);
}