.info__avatar {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.info__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.edit__btn {
    font-size: 18px;
    padding: 7px;
    color: var(--primary);
}

.upload {
    position: absolute;
    top: 0;
    width: 150px;
    height: 150px;
    opacity: .7;
}
.upload:hover{
    opacity: 1;
}