.post {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid var(--gray_light);
    border-radius: 5px;
    background: var(--light);
}

.post__time {
    font-size: 14px;
    color: var(--gray);
}

.post__text {
}