.user__list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.user__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 280px;
    padding: 20px;
    margin: 5px;
    border: 1px solid var(--gray_light);
    border-radius: var(--border-radius);
    background: var(--light);
    gap: 8px;
}

.user__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--dark);
}

.user__fullName {
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.user__fullName:hover {
    text-decoration: underline;
}

.user__about {
    color: var(--gray);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.user__btn {
    font-weight: bold;
    margin-top: 8px;
}