.info {
    display: flex;
    flex-direction: column;
}

.info div:last-child {
    margin-bottom: 0;
}

.contacts,
.about,
.educations {
    position: relative;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid var(--gray_light);
    border-radius: 5px;
    background: var(--light);
}

.contacts__title,
.about__title,
.educations__title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.btn__edit{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}
.btn__edit:hover{
}

.btn__save{
    margin-top: 20px;
    padding: 8px 16px;
    background: transparent;
    border: 1px solid var(--blue);
    border-radius: 5px;
    color: var(--blue);
    font-weight: 700;
    cursor: pointer;
}

.btn__save:hover{
    background: var(--blue);
    color: var(--light);
}