.info {
    display: flex;
    flex-direction: column;
}

.info div:last-child {
    margin-bottom: 0;
}

.info__avatar {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
}

.info__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.details,
.contacts,
.about,
.educations {
    margin: 10px 0;
    padding: 20px;
    border: 1px solid var(--gray_light);
    border-radius: 5px;
    background: var(--light);
}

.contacts__title,
.about__title,
.educations__title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
}

.details {
    line-height: 1.5;
}

.details__fullname {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about{
    line-height: 1.5;
}