.menu {
    grid-area: menu;
    background: var(--mint_light);
    padding: 20px;
}

.menu__list{
    list-style: none;
    padding: 20px;
    border: 1px solid var(--gray_light);
    margin: 5px 0;
    background: var(--light);
    border-radius: 5px;
}

.menu__link{
    font-size: 18px;
    color: var(--dark);
    text-decoration: none;
}

.menu__link:hover{
    color: var(--blue);
}

.menu__link.active{
    font-weight: 700;
    color: var(--orange);
}